* {
  margin: 0;
  padding: 0; 
};

.video-container {
  border: 1px solid black;
  height: 400px;
  z-index: 0;
  overflow:hidden;
}

nav {
  background-color: #2b2b2b;
}

nav ul {
  text-decoration: none;
  display: flex;
}

nav ul li {
  /* color: white; */
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 50rem;
  margin: 0 auto
}